{% extends 'navbar.html' %}
{% load static %}

{% block content %}
    <footer class="footer static-bottom footer-dark footer-custom-class" data-midnight="white"><div class="container">
        <div class="footer-wrapper mx-auto text-center">
            <div class="footer-title mb-5 animated" data-animation="fadeInUpShorter" data-animation-delay="0.2s">Log in</div>
            <form  method="post" class="subscribe mb-3 animated" data-animation="fadeInUpShorter" data-animation-delay="0.3s" accept-charset="utf-8">
                {% csrf_token %}
                <input {{ form.username_field }} type="text" name="username" class="subscribe-text" placeholder="Email/Username">
                <br>
                <br>
                <input {{ form.password_field }} type="password" name="password" class="subscribe-text" placeholder="Password">
                <button type="submit" class="btn btn-gradient-orange btn-glow rounded-circle subscribe-btn"><i class="ti-angle-right"></i></button>
                <br>
                <br>
                <a href="#">Reset Password</a>
            </form>

        </div>
    </div>
    </footer>
{% endblock %}